body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1{
    color: #333;
    text-align: center;
    text-shadow: #333 1px 1px 0.1em;
    
}

h2{
    color: black;
    text-align: left;  
    margin-left: 20px;
}

ol{
    text-align: left;
    display: inline-block;
    margin-top: 20px;
}

hr{
    margin: 20px 0;
    margin-left: 10px;
    margin-right: 10px;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 200px;   
    height: 200px;
    border-radius: 50%;
    border: 0px solid #333;
}

.parent{
    width: 90%;
    margin: 20px auto 0 auto;
    text-align: center;
    display: block;
    background-color: rgb(248, 240, 230);
    border: 1px solid #ccc;
    padding: 20px;
}

.parent::after {
    content: "";
    display: table;
    clear: both;
}

.about, .skills, .achievements{
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 350px;
    min-height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    margin: 30px 20px;
    text-align: left;
}

.textbc{
    background-color: aqua;
    padding: 10px;
    margin-top: 0px;

}

.about:hover, .skills:hover, .achievements:hover {
    background-color: #fdffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: 0.5s
}




@media screen and (max-width: 1024px) {
    .about, .skills, .achievements {
        width: calc(50% - 40px);
        float: none;
        margin: 20px auto;
        min-height: auto;
        ul{
        list-style: none;
    }
    }
@media screen and (max-width: 768px) {
    .about, .skills, .achievements {
        width: calc(100% - 40px);
        float: none;
        margin: 20px auto;
        min-height: auto;
    }
    
    h2 {
        margin-left: 10px;
    }
    ul{
        list-style: none;
    }
}


@media screen and (max-width: 480px) {
    .about, .skills, .achievements {
        width: calc(100% - 20px);
        margin: 10px;
        padding: 15px;
        min-height: auto;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    h2 {
        margin-left: 5px;
        font-size: 1.2em;
    }
    
    hr {
        margin: 10px 0;
    }

    ul{
        list-style: none;
    }
}